<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Receta2</title>
</head>
<body>
    <h2 class="negrita">Receta de Ensalada Rusa de Doña Petrona</h2>
    <br>
    <img src="../../public/img/EnsaladaRusa.jpg" width="400" height="300" alt="Foto de Ensalada Rusa">
    <p>La ensalada rusa es considerada por muchos como el acompañamiento ideal para los platos principales de la época festiva.</p>
    <hr>
    <h3>Lista de ingredientes</h3>
    <ul type="disc">
        <li>Arvejas y zanahorias.</li>
        <li>Chauchas y papas.</li>
        <li>Pepinitos en vinagre y mayonesa.</li>
        <li>Mostaza, sal y pimienta.</li>
    </ul>
    <h3>Lista de Pasos</h3>
    <ol type="i">
        <Li>Cocinar por separado arvejas, zanahorias, chauchas y papas cortadas en daditos pequeños, luego escurrirlos y secarlos sobre un repasador.</Li>
        <li>Mezclar en un recipiente hondo con pepinitos en vinagre picado, mayonesa, mostaza, sal y pimienta.</li>
        <li>Por último, para la presentación, se puede añadir huevo duro, jamón o manzana ácida picados.</li>
        </ol>
        <br>
        <iframe width="640" height="360" src="https://www.youtube.com/embed/jkzL1b6Dkbs" title="ENSALADA RUSA COMÚN Y NIVEL DIOS (Ensaladilla)" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br>
        <a href="https://es.wikipedia.org/wiki/Petrona_Carrizo_de_Gandulfo" target="_blank">¿Quién es Doña Petrona?</a>
        <br>
        <a href="receta1.html" target="_blank">Leer Receta Vitel Toné</a>
        <br>
        <a href="https://viapais.com.ar/gourmet/dona-petrona-el-libro-argentino-que-casi-supera-a-la-biblia-y-sus-3-mejores-recetas-para-navidad/" target="_blank">Página de Referencia</a>
        <br>
        <a href="../../index.html">Volver al Inicio</a>
</body>
</html>