<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Receta1</title>
</head>
<body>
    <h2 class="negrita">Receta de Vitel Toné de Doña Petrona</h2>
    <br>
    <img src="../../public/img/VitelToné.jpg" width="400" height="300" alt="Foto de Vitel Toné">
    <p>El vitel toné (vitello tonnato que significa carne atunada), es una receta sencilla de hacer y versátil de transportar y servir.</p>
    <hr>
    <h3>Lista de ingredientes</h3>
    <ul type="square">
        <li>1 kg de peceto, 100 g de atún, 6 anchoas</li>
        <li>2 yemas para la mayonesa y 1 huevo para presentación</li>
        <li>1/2 taza de aceite, sal y pimienta.</li>
        <li>1 pocillo de vinagre y 1 cdta. de mostaza.</li>
    </ul>
    <h3>Lista de Pasos</h3>
    <ol type="i">
        <Li>Sacar la membrana y la grasa al peceto</Li>
        <li>Cocinal el peceto en una cacerola con agua junto a una variedad de verduras</li>
        <li>Hacer mayonesa casera con las 2 yemas y el aceite, procesar la mayonesa con el atún en una licuadora y agregar vinagre, pimienta, mostaza y sal</li>
        <li>Agregar caldo de la preparación si hace falta para que no quede tan espesa.</li>
        <li>Por último, cortar en rodajas el peceto frío, bañar con salsa y espolvorear con huevo duro rallado para la presentación.</li>
    </ol>
        <iframe width="640" height="360" src="https://www.youtube.com/embed/NgvYkWzcT6w" title="La próxima vez que hagas Vitel Toné... (Receta muy completa y detallada)" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br>    
        <a href="https://es.wikipedia.org/wiki/Petrona_Carrizo_de_Gandulfo" target="_blank">¿Quién es Doña Petrona?</a>
        <br>
        <a href="receta2.html" target="_blank">Leer Receta Ensalada Rusa</a>
        <br>
        <a href="https://viapais.com.ar/gourmet/dona-petrona-el-libro-argentino-que-casi-supera-a-la-biblia-y-sus-3-mejores-recetas-para-navidad/" target="_blank">Página de Referencia</a>
        <br>
        <a href="../../index.html">Volver al Inicio</a>
</body>
</html>