* {
font-size: 35px;
font-family: comic sans ms;
}
h1 {
color: aquamarine;
}
#subrayado {
text-decoration: underline;
}
h2 {
color: coral;
font-size: 25px;
}
.negrita {
font-weight: bold;
}
h3 {
color: darkcyan;
font-size: 20px;
}
p {
    font-size: 18px;
    color: darkblue;
}
li {
    font-size: 18px;
    color: darkgreen;
}
a {
    font-size: 15px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
a:visited {
    color: rgb(128, 0, 11);
}